
body{
	margin: 0px;
	padding: 0px;
}
h1{ 
	text-align:center;
}


p{
	text-align: justify;
	padding: 10px;
}



#box{
	background-color:#909090;
	margin: 1px;
	color:#ffffff;
	border-radius: 10px;
	border: black solid 1px;
	box-sizing: border-box;

}
#RightSection{
	float: right;
	color:green;
	text-align: right;
	background-color: red;
	border-radius: 10px;
	border: black solid 1px;
	margin: 2px;
	
}
 
 .row{
 		width: 100%;

 	}
/* Desktop view */ 	

@media (min-width: 992px){

	.col-lg-4{
		width: 33%;
		float: left;
	}
	
 	
 }
/* tablet view */ 	

 @media (min-width: 768px)and (max-width: 991px){

	
	.col-md-6{
		width: 49%;
		float: left;
	}
	.col-md-12{
		width: 98%;
		float: left;
	}
 	
 	
 }

/* Mobile view */ 	
 @media (max-width: 767px){

	
	.col-sm-12{
		width: 100%;
		float: left;
	}
 	
 	
 }
